@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Proyecto 1</h1>
    <p>Aprendiendo sobre GitHub / Integración continua <a href="https://github.com/cdvasquez-quantil/Proyecto1">GitHub cdvasquez-quantil</a>.</p>
</div>
